.map {
    width: 800px;
    height: 600px;
    background-color: #ccc;
    position: relative;
    margin: 50px auto;
}

#box {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    text-align: center;
    
}

#box > button {
    border-radius: 4px;
    width: 100px;
    height: 50px;
    background-color:rgb(183, 0, 255);
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: all 1s;
}

#box > button:hover {
    background-color: chartreuse;
    color: violet;
}

#box > strong {
    display: inline-block;
    margin: 10px auto;
    color: red;
}